<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판</title>

<!-- css파일을 사용할 경우 링크 설정-->
<link rel="stylesheet" th:href="@{/css/style.css}"></link>

</head>
<body>
	<div class="container">
		<h2>게시판 목록</h2>
		<table class="board_list">
			<!-- 각 컬럼의 공간 설정 -->
			<colgroup>
				<col width = "15%">
				<col width = "*">
				<col width= "15%">
				<col width= "20%">
			</colgroup>

			<!-- 헤더 설정 -->
			<thead>
				<tr>
					<th scope="col">글번호</th>
					<th scope="col">제목</th>
					<th scope="col">조회수</th>
					<th scope="col">작성일</th>
				</tr>
			</thead>

			<!-- 데이터 게시 영역 -->
			<tbody>
				<!-- 데이터가 있을 경우 게시판 설정 -->
				<tr th:if="${#lists.size(list)} > 0" th:each="vo :${list}">
					<td th:text="${vo.boardIdx}"></td>
					
					<!-- 게시글 상세내용을 보기위해 제목에 하이퍼링크 추가 -->
					<td><a href="/board/boardDetail?boardIdx=" th:attrappend="href=${vo.boardIdx}" 
						th:text="${vo.title}"></a></td>

					<td th:text="${vo.hitCnt}"></td>
					<td th:text="${vo.createDatetime}"></td>
				</tr>

				<!-- 데이터가 없을 경우 게시판 설정 -->
				<tr th:unless="${#lists.size(list)} > 0">
					<td colspan="4">조회된 결과가 없습니다.</td>
				</tr>
			</tbody>
		</table>

		<!-- 글쓰기 버튼 설정-->
		<a href="/board/boardWrite">글쓰기</a>
	</div>
</body>
</html>